---
layout:   default
title:    GitHub Mini Mentor by Disa Johnson @AirDisa
excerpt:  Disa Johnson @AirDisa principly concerning software engineering ideas.
category: github
tags:     github
---

<div id="home">
  <h1>Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% capture category %}{{ post.category }}{% endcapture %}
        {% if category == 'github' %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a><br />{{ post.excerpt }}</li>
        {% endif %}
    {% endfor %}
  </ul>
</div>
