---
layout:   default
title:    Wordpress posts
excerpt:  Disa Johnson @AirDisa principally concerning software engineering ideas.
category: wordpress
tags:     wordpress
---

          <div class="posts">
            <h1 class="content-subhead">{{ page.category }} Posts</h1>
            <div id="home">
            {% for post in site.posts %}
              {% capture category %}{{ post.category }}{% endcapture %}
              {% if category == 'wordpress' %}
                <section class="post">
                  <header class="post-header">
                    <img class="post-avatar" alt="Disa Johnson&#x27;s avatar" height="48" width="48" src="/img/disajohnson.jpg">
                    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p class="post-meta"> <span class="date">{{ post.date | date_to_string }}</span> &raquo; <a class="post-author" href="/disa.html">Disa Johnson</a> under <span style="color:white;" class="post-category post-category-{{ post.category }}">{{ post.category }}</span> </p>
                  </header>
                  <div class="post-description"> <p> {{ post.excerpt }} </p> </div>
                </section>
              {% endif %}
            {% endfor %}
            </div>
          </div>
